
  *{font-family: 'Questrial', sans-serif;
    font-family: 'Roboto', sans-serif;
}
/*  */
/* header section css */
.text-style{
    font-weight: bold;
    color: rgb(97, 95, 95)!important;
    font-family: 'Poppins', sans-serif;
    
}
.logo{
    padding-left: 10px;
}
.button{
    text-align: center;
    /* color: rgb(35, 35, 168); */
    border-radius: 30px;
    padding-left: 23px;
    padding-right: 23px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-color: blue;
    color: rgb(60, 60, 235);
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    margin-right: 24px;
    /* margin-right: 100px; */
}
.button:hover{
  background-color: blue;
  color: white;
}
/* ends */

/* body section css */
.big-text{
    font-size:50px;
    color: black;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
.small-text{
    font-size: 12px;
    color: rgb(97, 95, 95);
    font-family:'Poppins', sans-serif ;
    font-weight: bold;
    text-decoration: none;
}
.button2{
    border-radius: 49px;
    text-align: center;
    padding-left: 27PX;
    padding-right: 27px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: blue;
    font-family: 'Poppins', sans-serif;
    margin-left: -16px;
    margin-right: -30px;
}

.button2:hover{
    background-color: yellow;
    
}

.text-part{
    padding-top: 57px;
    padding-left: 96px;
}
.icon{
    color: blue;
    padding-top: 12px;
    padding-left: 27px;
    padding-right: 11px;
    
}
.icon-text{
    padding-left: 0px;
    font-family: 'Poppins', sans-serif!important;
    padding-top: 16px;
    
}
.last-row{
    padding-top: 45px;
}
.img-class{
 filter: grayscale(100%);
 margin-right: 5px;
}
.logo-text{
    padding-right: 14px;
    filter: grayscale(100%);
    font-weight: bold;
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}
.logo-text-2{
    padding-left: 10px;
    filter: grayscale(100%);
    font-variant: unicase;
    font-family: inherit;
    font-weight: bold;
    padding-right: 10px;
    margin-top: -2px;
    text-decoration: none;
}
.logo-text-3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  
  filter: grayscale(100%);
  font-weight: bold;
  text-decoration: none;
}
.img-class-2{
    margin-top: -21px;
    filter: grayscale(100%);
    margin-left: -8px;
}
.comp{
    padding-top: 80px;
}
.imageclass{

}
.paddingT{
    padding-top: 10px;
}
/* end----- */

/* media queries */

@media only screen and (max-width: 950px) {
    .imageclass img {
    width: 301px;
    height: 397px;
    
    }
    .icon{
        padding-left: 0px!important;
    }
    .icon-text{
        padding-left: 15px;
    }
     .comp {
        display: inline-grid;
        flex-wrap: wrap;
        margin-left: 28px;
        padding-top: 32px;
    
    }
    .logo-text {
        padding-bottom: 10px;
    }
    .logo-text-2{
        padding-bottom: 10px;
        padding-left: 0px;
    }
    .logo-text-3{
        padding-bottom: 10px;
        padding-left: 0px;
    }
    .img-class{
        padding-bottom: 10px;
        padding-left: 11px;
    }
.img-class-2{
    padding-left: 0px;
}
.big-text{
    font-size: 23px;
}
}
/* end----- */
