<!-- for the play icon -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!--end-->
<!--  -->
<!-- header section -->
<section class="container">
<nav class=" navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">
    <img class="logo" src="assets/logo23.png" width="55px" height="45px">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item text-style">
        <a class="nav-link text-style " href="#">Integration </a>
      </li>
      <li class="nav-item text-style">
        <a class="nav-link text-style" href="#">Pricing</a>
      </li>
     
      <li class="nav-item text-style">
        <a class="nav-link text-style " href="#">Blog</a>
      </li>
      <li class="nav-item text-style">
        <a class="nav-link text-style " href="#">About us</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn my-2 my-sm-0 button " type="submit">Get early access</button>
    </form>
  </div>
</nav>
</section>
<!-- header section ends -->
<!--  -->
<!--  -->
<!-- body section  -->
<section class="container body-part">
  <div class="row">
    <div class="col-lg-6 col-md-4 col-10 text-part">
      <div class="row">
       <a class="big-text">Don't worry.</a>
      </div>
      <div class="row">
      <a class="big-text">We are here for</a>
      </div>
      <div class="row">
      <a class="big-text">every solution.</a>
      </div>
      <div class="row paddingT">
      <a class="small-text">bushwick meh blue bottle pork belly skateboard 3 wolf moon</a>
      </div>
      <div class="row">
      <a class="small-text">Actually board single-origin coffee,twee 90's PBR Echo Park.</a>
      </div>
      <div class="row last-row">
        <div class="col-lg-4">
        <button class="btn btn-outline-light my-2 my-sm-0 button2" type="submit">Get Started</button>
        </div>
      <div class="col-lg-2 col-md-2 col-2">
        <i class="fa fa-play-circle fa-2x icon" style="cursor: pointer;"aria-hidden="true"></i>
        </div>
        <div class="col-lg-4 col-md-10 col-10 icon-text">
        <a class="" style="cursor: pointer; color: blue;">Watch video</a>
      </div>
      </div>
      <div class="row comp">
        <a class="logo-text">Intergrations</a>
        <img class="img-class" src="assets/Amazon_logo.png" width="50px" height="30px">
        <a class="logo-text-2">Northern</a>
        <img class="img-class-2" src="assets/google-logo.png" width="75px" height="65px">
        <img class="img-class-2" src="assets/skrill.jpg" width="75px" height="60px">
      </div>
    </div>
    <!-- for the image -->
    <div class="col-lg-6 col-md-4 col-10 imageclass">
      <img src="assets/image.jpg" width="550px" height="600px">
    </div>
  </div>
</section>
<!-- body section ends -->
<!--  -->

